body{
    font-family: 'Questrial', sans-serif;
    margin: 26px;
}

/*-------------------------------------HEADER-------------------------------------*/

.logoNav{
	height: 90px;
	padding: 10px 30px ;
	justify-content: center;
	align-items: center;
}
.container{
    max-width:  1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
    justify-content: center;
    height: 200px;
    box-shadow: 0px 1px 10px 0px #0531358e;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
	list-style: none;
}
.search {
	position: relative;
	padding: 10px;
	top: 0px;
}

.buscador{
	display: flex;
	align-items: center;
	outline: none;
	box-sizing: border-box;
	height: 30px;
	width: 0px;
	padding: 0px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	padding-left: 20px;
	border: 1px solid #1f8fa0ae;
	transition: all .7s ease;
}
::placeholder {
	color: grey;
}
.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 45px;
	height: 45px;
	background: #1f8fa0;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
.btn i {
	font-size: 25px;
	color: white;
	line-height: 40px;
	transition: all .7s ease;
}
.container:hover input {
	width: 350px;
}
.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #1f8fa0;
}


/* - - - - NAV - - - - */
nav{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin-right: 20px;
}

.nav1 li a{
	color: black;
    text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav1 > li{
	float: left;
}

nav li a:hover {
	color: #109BA8;
}

.nav1 li ul{
	display: none;
}
.nav1 li:hover > ul{
	display: block;
}

#nav2{
	position: absolute;
	background-color: rgb(245, 245, 245);
	border-radius: 8px;
	box-shadow: 2px 4px 0px 0px #109BA8;
	text-align: left;
	padding-left: 0%;
    padding-right: 5px;
}

 /* - - - - - ESCRITORIO - - - -- */
@media (min-width: 720px){

    header{
        margin: auto;
        width: 100%;
        height: 100px;
        background-color: rgb(245, 245, 245);
    }
    header .container{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
	header .logo{
        justify-content: center;
	   align-items: center;
    }
	#nav2{
	padding-left: 0%;
    padding-right: 5px;
	}

}
/*--------------------------------------------*/

h1 {
    text-align: center;    
}

p {
    text-align: center;
    font-size: 18px;
}
/*-------------------------------------------------*/


.contactoPrivado {
    display: flex;
}

.cuestionario{    
    width: 60%;
    margin: 40px 0;
}

.foto {
    width: 50%;
    padding: 10px 20px 10px;
    margin-top: 70px;
}

.cuestionario label{
    font-size: 18px;
    display: block;
    margin: 0 0 5px;
}

.form-padron{
    display: block;
    width: 90%;
    padding: 10px 20px;
    margin: 0 0 15px;    
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 30%;
    padding: 15px 0;
    margin: 20px;        
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(41, 105, 124, 0.904);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer; 
}

.enviar:hover{
    background: rgb(0, 0, 0);
    transform: scale(1.1)
}

/*--------------------------------------------------------------------*/
.logosContacto{
    text-align: center;
}

.logosContacto li{
    display: inline;
}

.logosContacto li img:hover{
    transform: scale(1.2);    
}

.logos{
    text-align: center;
    width: 10%;
    margin: 50px;
}

.ubicacion{
    text-align: center;
    margin: 20px;
}

.mapa{
    width: 80%;
    height: 320px;
    margin: 15px;
}

/*--------------------------------------------------------------------------*/
footer{
    background: url(/busCAR/src/main/resources/static/img/bg.jpg);
    position: relative;
}
footer img{
    margin-top: 20px;
}

.primerPiso{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.logo{
    width: 350px;
    height: 150px;
}

.redes{
    display: inline-block;
    vertical-align: top;
    /* margin: 0 0 0 15px; */
    margin-top: 20px;  
    /* position: absolute; */
    /* justify-content:center; */
    /* justify-content: right; */
    
}
.redes li{
    color:#FFFFFF;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    list-style: none;   
    /* position: relative; */   
    
}

.redes a{
    color: #FFFFFF;
    text-decoration: none;
}

.redes a:hover{
    color: rgb(4, 58, 40);
}

.iconos{
    width: 1em;
    height: 1em;    
}

.copyright{
    text-align: center;
    color:#FFFFFF;
}

@media screen and (max-width:720px){

    .contactoPrivado {
        display: flex;
        flex-direction: column;
    }  
    
    .cuestionario{    
        width: 90%;        
    }

    .foto {
        padding: 10px 20px 10px;
        width: 60%;
    }

    .contactoPublico{
        flex-direction: column;
    }

    .logos{
        width: 40%;
    }

    .primerPiso{
        flex-direction: column;
    }
    
}