body{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    background: linear-gradient( #E3E4E3, #FFFFFF);
    
}

/*-------------------------------------HEADER-------------------------------------*/

.logoNav{
	height: 90px;
	padding: 10px 30px ;
	justify-content: center;
	align-items: center;
}
.container{
    max-width:  1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
    justify-content: center;
    height: 200px;
    box-shadow: 0px 1px 10px 0px #0531358e;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
	list-style: none;
}
.search {
	position: relative;
	padding: 10px;
	top: 0px;
}

.buscador{
	display: flex;
	align-items: center;
	outline: none;
	box-sizing: border-box;
	height: 30px;
	width: 0px;
	padding: 0px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	padding-left: 20px;
	border: 1px solid #1f8fa0ae;
	transition: all .7s ease;
}
::placeholder {
	color: grey;
}
.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 45px;
	height: 45px;
	background: #1f8fa0;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
.btn i {
	font-size: 25px;
	color: white;
	line-height: 40px;
	transition: all .7s ease;
}
.container:hover input {
	width: 350px;
}
.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #1f8fa0;
}


/* - - - - NAV - - - - */
nav{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin-right: 20px;
}

.nav1 li a{
	color: black;
    text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav1 > li{
	float: left;
}

nav li a:hover {
	color: #109BA8;
}

.nav1 li ul{
	display: none;
}
.nav1 li:hover > ul{
	display: block;
}

#nav2{
	position: absolute;
	background-color: rgb(245, 245, 245);
	border-radius: 8px;
	box-shadow: 2px 4px 0px 0px #109BA8;
	text-align: left;
	padding-left: 0%;
    padding-right: 5px;
}

 /* - - - - - ESCRITORIO - - - -- */
@media (min-width: 720px){

    header{
        margin: auto;
        width: 100%;
        height: 100px;
        background-color: rgb(245, 245, 245);
    }
    header .container{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
	header .logo{
        justify-content: center;
	   align-items: center;
    }
	#nav2{
	padding-left: 0%;
    padding-right: 5px;
	}

}
/*------------------------------------------------------------*/

.formulario{
    display: flex;
    justify-content: center;
    
}

.form-datos{    
    /* border: 1px solid #666666; */
    
    text-align: center;
    padding: 10px 10px;
    margin: 20px;
    width: 50%;
    background: radial-gradient(#E3E4E3);
    box-shadow:  0px 5px 10px 0px #000000;
}


.dato{
    padding: 0.5em;
    margin: 1em;
    text-align: center;
}

.dato label{
    display: block;
    font-size: 1.25em;
    font-weight: bold;
}

.dato input{
    padding: 5px 10px;
    margin-left: 10px;
}

.puntosDePago{
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
}

.enviar{
    justify-content: center;
    width: 20%;
    padding: 15px 0;
    margin: 20px;        
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(41, 105, 124, 0.904);
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer; 
}

.enviar:hover{
    background: rgb(0, 0, 0);
    transform: scale(1.1)
}