body{
    font-family: 'Questrial', sans-serif;

}

/*-------------------------------------HEADER-------------------------------------*/

.logoNav{
	height: 90px;
	padding: 10px 30px ;
	justify-content: center;
	align-items: center;
}
.container{
    max-width:  1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
    justify-content: center;
    height: 200px;
    box-shadow: 0px 1px 10px 0px #0531358e;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
	list-style: none;
}
.search {
	position: relative;
	padding: 10px;
	top: 0px;
}
input {
	display: flex;
	align-items: center;
	outline: none;
	box-sizing: border-box;
	height: 30px;
	width: 0px;
	padding: 0px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	padding-left: 20px;
	border: 1px solid #1f8fa0ae;
	transition: all .7s ease;
}
::placeholder {
	color: grey;
}
.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 45px;
	height: 45px;
	background: #1f8fa0;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
.btn i {
	font-size: 25px;
	color: white;
	line-height: 40px;
	transition: all .7s ease;
}
.container:hover input {
	width: 350px;
}
.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #1f8fa0;
}


/* - - - - NAV - - - - */
nav{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin-right: 20px;
}

.nav1 li a{
	color: black;
    text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav1 > li{
	float: left;
}

nav li a:hover {
	color: #109BA8;
}

.nav1 li ul{
	display: none;
}
.nav1 li:hover > ul{
	display: block;
}

#nav2{
	position: absolute;
	background-color: rgb(245, 245, 245);
	border-radius: 8px;
	box-shadow: 2px 4px 0px 0px #109BA8;
	text-align: left;
	padding-left: 0%;
    padding-right: 5px;
}

 /* - - - - - ESCRITORIO - - - -- */
@media (min-width: 720px){

    header{
        margin: auto;
        width: 100%;
        height: 100px;
        background-color: rgb(245, 245, 245);
    }
    header .container{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
	header .logo{
        justify-content: center;
	   align-items: center;
    }
	#nav2{
	padding-left: 0%;
    padding-right: 5px;
	}

}


/* ------------------------------------FOTOS DEL AUTO------------------------------------------ */
.vidriera{
    width: 100%;
    margin: 20px;
    display: flex;    
}

.galeria{
    width: 60%;    
    display: absolute;    
}

.product-small-img img{
    width: 100%;
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;    
}

.product-small-img img:hover{
    transform: scale(1.2)
}

.product-small-img{
    width: 22%;
    display: flex;    
}

.img-container img{    
    height: 280px;   
    width: 100%;      
}

.img-container{
    padding: 10px;
    width: 85%;    
}
/* ------------------------------------CARACTERISTICAS------------------------------------------ */

.placaDatos{
    width: 35%;       
    /* border: solid #cac6c6;   */
    border-radius: 20px;
    display: relative;
    box-shadow: 0px 5px 10px 0px #0E8893;
    margin: 10px;
    
}

.placaDatos h2{
    font-size: 36px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;     
}

.datosSec{
    font-size: 18px;
    color: #555555;
    margin: 20px;
    text-align: center;
}

.precio{
    font-size: 40px;
    font-weight: bold;
    color: #0E8893;
    text-align: center;
}

.bloqueBoton{
    text-align: center;
    margin-top: 50px;
}
.bloqueBoton a{
    text-decoration: none;
    
}
.botones{    
        width: 30%;
        padding: 15px 0;
        margin: 20px;        
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        background: rgba(41, 105, 124, 0.904);
        border: none;
        border-radius: 5px;
        transition: 1s all;
        cursor: pointer;        
}
    
    .botones:hover{
        background: rgb(0, 0, 0);
        transform: scale(1.1)
    }
    
/* ------------------------------------TABLA CARACTERISTICAS------------------------------------------ */
h1{
    text-align: center;
}

.tablaCaracteristicas{
    margin: 10px;
}

.tablaCaracteristicas table{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}

td, th{
    border: 1px solid;
    /* border-radius: 10px; */
    padding: 15px 20px;
    font-size: 20px;
    /* border-collapse: ; */
    /* border-spacing: 10px 5px; */
}

tr{
    border: 1px solid; 
}

th{
    background-color: #E3E4E3;
    width: 30%;
}

/* ------------------------------------Descripción------------------------------------------ */

.descripcion{
    margin: 10px;
}
.descripcion p{
    border: 2px solid #555555;
    border-radius: 10px;
    width: 100%;
    height: 240px;
    padding: 0px;
}



/* ------------------------------------Relacionados------------------------------------------ */



.prod-relacionados{
    width: 80%;
    margin: 0 auto;
    padding: 50px; /*espacio entre el encabezado y los productos*/
}

.prod-relacionados li{
    display: inline-block;
    text-align: center;
    width: 30%; /*espacio que ocupara cada uno de los items de la lista*/
    vertical-align:top; /*alineacion de los items, respescto a la vertical*/
    margin: 0 1.5%;
    box-sizing: border-box;    
    padding: 30px 20px;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 5px 10px 50px 5px #000000;
}

.prod-relacionados li:hover{
    border-color: darkgoldenrod;    
}

.prod-relacionados li:active{
    border-color: darkgreen;
}

.prod-relacionados h2{
    font-size: 20px;
    font-weight: bold;
}

.prod-relacionados li:hover{
    transform: scale(1.1);
}

.fotos{
    width: 80%;
    height: 120px;
}

.prDescripcion{
    font-size: 18px;
    font-style: bold;
}

.prPrecio{
    font-size: 20px ;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    background: url(/busCAR/src/main/resources/static/img/bg.jpg);
    /* position: relative; */
}
footer img{
    margin-top: 20px;
}

.primerPiso{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.logo{
    width: 350px;
    height: 150px;
}

.redes{
    display: inline-block;
    vertical-align: top;
    /* margin: 0 0 0 15px; */
    margin-top: 20px;  
    /* position: absolute; */
    /* justify-content:center; */
    /* justify-content: right; */
    
}
.redes li{
    color:#FFFFFF;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    list-style: none;   
    /* position: relative; */   
    
}

.redes a{
    color: #FFFFFF;
    text-decoration: none;
}

.redes a:hover{
    color: rgb(4, 58, 40);
}

.iconos{
    width: 1em;
    height: 1em;    
}


.copyright{
    color:#FFFFFF;
    justify-content: end;    
}





@media screen and (max-width:720px){
    .vidriera{
        flex-direction: column;
    }
    
    .galeria{
        width: 100%;               
    }

    .placaDatos{
        width: 100%;       
        
    }

    .prod-relacionados li{
        display: inline-block;  
        width: 80%; /*espacio que ocupara cada uno de los items de la lista*/
        height: auto;
        margin: 10px;
    }

    .primerPiso{
        flex-direction: column;
    }

}