@font-face{
    font-family: Questrial;
    src: url(Questrial-Regular.ttf);
}

*{
    box-sizing: border-box;  
}

h1{  font-size: 3.5em; }
h2{  font-size: 2.7em; }
h3{  font-size: 2em; }
p{ font-size: 1.25em;} 

.color-acento{ color: #109BA8; }

body{
    margin: 0%;
    font-family: Questrial;
}

.container{
    max-width:  1400px;
    margin: auto;
}


/* - - - HEADER - - - */
.logo{
	height: 90px;
	padding: 10px 30px ;
	justify-content: center;
	align-items: center;
}
.container{
    max-width:  1400px;
    margin: auto;
}
header{
    background-color: rgb(245, 245, 245);
    justify-content: center;
    height: 200px;
    box-shadow: 0px 1px 10px 0px #0531358e;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
	list-style: none;
}
.search {
	position: relative;
	padding: 10px;
	top: 0px;
}
input {
	display: flex;
	align-items: center;
	outline: none;
	box-sizing: border-box;
	height: 30px;
	width: 0px;
	padding: 0px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	padding-left: 20px;
	border: 1px solid #1f8fa0ae;
	transition: all .7s ease;
}
::placeholder {
	color: grey;
}
.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 45px;
	height: 45px;
	background: #1f8fa0;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
.btn i {
	font-size: 25px;
	color: white;
	line-height: 40px;
	transition: all .7s ease;
}
.container:hover input {
	width: 350px;
}
.container:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #1f8fa0;
}


/* - - - - NAV - - - - */
nav{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	margin-right: 20px;
}

.nav1 li a{
	color: black;
    text-decoration: none;
	padding: 10px 15px;
	display: block;
}

.nav1 > li{
	float: left;
}

nav li a:hover {
	color: #109BA8;
}

.nav1 li ul{
	display: none;
}
.nav1 li:hover > ul{
	display: block;
}

#nav2{
	position: absolute;
	background-color: rgb(245, 245, 245);
	border-radius: 8px;
	box-shadow: 2px 4px 0px 0px #109BA8;
	text-align: left;
    padding-left: 0%;
    padding-right: 5px;
}


 /* - - - - - Categoria - - - - - - */
#categoria{
    padding: 30px 0;
	background-color:#ecf2f379 ;
}
.container_info h1{
	color: rgb(50, 50, 50);
    font-style:inherit;
    text-shadow: 2.5px 2px 0px #0e8893;
    font-size: 3em;
    padding: 0px 0px;
    text-align: center;
}
.container_info{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.container_info h1{
	color: rgb(50, 50, 50);
    font-style:inherit;
    text-shadow: 2.5px 2px 0px #0e8893;
    font-size: 3em;
    padding: 0px 20px;
    text-align: center;
}


#categoria h3{
    color: rgb(245, 245, 245);
    font-style:inherit;
    text-shadow: 2.5px 2px 0px #0e8893;
    margin-top: 0;
    padding-bottom: 20px;
	text-align: center;
 }

#categoria .container img{
    height: 10em;
    margin: 20px;
}

#categoria .categoria{
    margin-left: 70px;
    margin-right: 70px;
    background-position: center center;
    background-size: cover;
    border-radius: 50px;
    background-image: linear-gradient(
        0deg,
        rgba(43, 43, 43, 0.151),
		rgb(43, 43, 43),
        rgba(43, 43, 43, 0.973)
    );
    box-shadow: 0 5px 0px rgba(43, 43, 43, 0.301);
}

@media (min-width: 720px){

	/* - - - HEADER - - - */
    header{
        margin: auto;
        margin-right: 10px;
        width: 100%;
        height: 100px;
        background-color: rgb(245, 245, 245);
    }
    header .container{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
	header .logo{
        justify-content: center;
	   align-items: center;
    }
    #nav2{
       padding-left: 0%;
       padding-right: 5px;
    }

	 /* - - - CATEGORIAS - - - */
	 #categoria .categorias{
        display: flex;
        justify-content: center;
    }

    #categoria {
        padding-top: 120px;
        padding-bottom: 220px ;
    }
	#categoria p{
		padding-bottom: 50px;
	}

    #marcas .marquita{
        display: flex;
        justify-content: center;
        padding:  0 60px;
    }
}
     /* - - - FOOTER - - - */
     footer{
        background-color: #000;
        position: relative;
    }
    footer img{
        margin-top: 20px;
    }
    
    .primerPiso{
        display: flex;
        justify-content: space-around;
        position: relative;
    }
    
    .logo-footer{
        width: 350px;
        height: 150px;
    }
    
    .redes{
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;  
    }
    .redes li{
        color:#FFFFFF;
        font-size: 1.5em;
        text-decoration: none;
        list-style: none;          
    }
    
    .redes a{
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .redes a:hover{
        color: rgb(4, 58, 40);
    }
    
    .iconos{
        width: 1em;
        height: 1em;    
    }
    
    .copyright{
        text-align: center;
        color:#FFFFFF;
    }
    
    @media screen and (max-width:720px){

        footer{
            margin-top: 100px;
        }
    
        .contactoPrivado {
            display: flex;
            flex-direction: column;
        }  
        
        .cuestionario{    
            width: 90%;        
        }
    
        .foto {
            padding: 10px 20px 10px;
            width: 60%;
        }
        .logo-footer{
            margin-left: 35px;
        }
    
        .contactoPublico{
            flex-direction: column;
        }
    
        .logos{
            width: 40%;
        }
    
        .primerPiso{
            flex-direction: column;
        }
        
    }




